@font-face {
  font-family: "Exo-Light";
  src: url("../fonts/Exo2-Light.ttf");
}

@font-face {
  font-family: "Exo-Thin";
  src: url("../fonts/Exo2-Thin.ttf");
}

@font-face {
  font-family: "Exo-Regular";
  src: url("../fonts/Exo2-Regular.ttf");
}

body {
  background-color: #fafafa;
}

.view-container {
  margin-top: 20px;
}

.inLine .inLine-list {
  display: inline-block;
  float: none;
  vertical-align: top;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.inLine-list .thumbnail .caption {
  z-index: 40;
}

.inLine-list {
  height: 330px;
}

.inLine-list:hover {
  border-style: solid;
  border-color: #a7a7a7;
  border-width: 1px;
  border-radius: 10px;
}

.inLine-list .thumbnail img {
  width: 100%;
  margin-top: 10px;
}

.thumbnail {
  overflow: hidden;
  border: none;
}

.thumbnail img {
  /* width: 100%;*/
  display: inline-block !important;
  border: none;
}

.thumbnail {
  padding: 0;
  background-color: #fafafa;
}

.img-thumbnail {
  background-color: #fafafa;
  border: none;
}

.inLine-list .thumbnail .caption {
  position: relative;
  z-index: 40;
}

.caption {
  height: 130px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

a {
  color: #000;
}

a:hover {
  text-decoration: none;
  color: #000;
}

.caption h4 {
  font-size: 1.3em;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Exo-Thin";
}

.caption span h4 {
  font-family: "Exo-Thin";
  margin: 5px 0px;
  font-size: 1.1em;
}

.buyBtn {
  margin: 5px auto;
  cursor: pointer;
  font-family: "Exo-Thin";
  font-size: 1.4em;
  background-color: #fafafa;
  border: none;
}

.buyBtn:hover {
  opacity: 0.75;
  border-radius: 7px;
  background-color: #f0f0f0;
}

.prise {
  background-color: #3fadce;
  width: 75px;
  margin: 0 auto;
  border-radius: 8px;
  color: #fff;
  margin: 3px auto;
}

.fields h2 {
  font-family: "Exo-Regular";
}

.fields p {
  font-family: "Exo-Thin";
  font-size: 1.25em;
  margin-bottom: 5px;
}

.sidebar {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #3fadce;
  border-radius: 10px;
  padding: 10px;
}

.sidebar p {
  margin: 0;
  font-family: "Exo-Light";
  font-size: 0.8em;
  margin-left: 10px;
}

.sidebar_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.sidebar:hover {
  opacity: 0.9;
}

.product_info {
  margin-top: 15px;
  font-family: "Exo-Regular";
}

.product_info h5 {
  margin-bottom: 2px;
}

.btn_AddToCart {
  width: 100%;
  border: 0;
  background-color: #3fadce;
  border-radius: 10px;
  color: #fff;
  font-family: "Exo-Thin";
  padding: 2px 0 5px 0;
  font-size: 1.2em;
  cursor: pointer;
  margin: 10px 0;
}

.btn_AddToCart:hover {
  opacity: 0.9;
}

.btn_toStore {
  width: 100%;
  border: 0;
  background-color: #a7a7a7;
  border-radius: 10px;
  color: #fff;
  font-family: "Exo-Thin";
  padding: 2px 0 5px 0;
  font-size: 1.2em;
  color: #fff;
  display: block;
  text-align: center;
}

.btn_toStore:hover {
  color: #fff;
  opacity: 0.9;
}

.search {
  margin-top: 15px;
  border: 1px solid #a7a7a7;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 3px 10px 5px 10px;
}

.search form {
  width: 100%;
}

.searchInput {
  width: 205px;
  background-color: #fafafa;
  border: 0;
  outline: none;
  font-family: "Exo-Thin";
  color: #000;
}

.searchButton {
  float: right;
  cursor: pointer;
  background-color: #fafafa;
  border: 0;
  outline: none;
  padding: 0;
  width: 25px;
  height: 25px;
}

.searchButton img {
  width: 100%;
  height: auto;
}
