@font-face
  font-family: "Exo-Light"
  src: url("../fonts/Exo2-Light.ttf")

@font-face
  font-family: "Exo-Thin"
  src: url("../fonts/Exo2-Thin.ttf") 

@font-face
  font-family: "Exo-Regular"
  src: url("../fonts/Exo2-Regular.ttf") 

$bgc-color: #fafafa
$main-color: #3fadce
$foot-color: #a7a7a7
$f-thin: 'Exo-Thin'
$f-light: 'Exo-Light'
$f-regular: 'Exo-Regular'

    
body 
    background-color: $bgc-color

.view-container
    margin-top: 20px

.inLine .inLine-list
    display: inline-block
    float: none
    vertical-align: top
    box-sizing: border-box
    margin-bottom: 10px

.inLine-list .thumbnail .caption
    position:relative
    z-index: 40

.inLine-list
    height: 330px
    transition: 0.3s all ease
    border-style: solid
    border-color: $bgc-color
    border-width: 1px
    border-radius: 10px
    &:hover
        border-style: solid
        border-color: $foot-color
        border-width: 1px
        border-radius: 10px        

.inLine-list .thumbnail img
    width: 100%
    margin-top: 10px

.thumbnail
    overflow: hidden
    border: none

.thumbnail img 
    /* width: 100%;*/
    display:inline-block !important
    border: none

.thumbnail 
    padding: 0
    background-color: $bgc-color

.img-thumbnail
    background-color: $bgc-color
    border: none

.inLine-list .thumbnail .caption
    position: relative
    z-index: 40

.caption 
    height: 130px
    overflow: hidden
    display: flex
    justify-content: center
    flex-direction: column

a 
    color: #000
    &:hover
        text-decoration: none
        color: #000

.caption h4
    font-size: 1.3em
    text-align: center
    margin-top: 0
    margin-bottom: 0
    font-family: $f-thin

.caption span h4 
    font-family: $f-thin
    margin: 5px 0px
    font-size: 1.1em

.buyBtn
    margin: 5px auto
    cursor: pointer
    font-family: $f-thin
    font-size: 1.4em
    background-color: $bgc-color
    border: none
    transition: 0.5s all ease
    display: flex
    align-items: center
    padding-bottom: 3px
    & img 
        width: 20px !important
        margin: 0 5px 8px 0
    &:hover
        opacity: 0.75
        border-radius: 7px
        background-color: darken($bgc-color, 4)

.prise
    background-color: $main-color
    width: 75px
    margin: 0 auto
    border-radius: 8px
    color: #fff
    margin: 3px auto

.fields
    h2 
        font-family: $f-regular
    p 
        font-family: $f-thin
        font-size: 1.25em
        margin-bottom: 5px

.sidebar
    box-sizing: border-box
    background-color: $main-color
    border-radius: 10px
    padding: 10px
    transition: 0.5s opacity ease
    p 
        margin: 0
        font-family: $f-light
        font-size: 0.8em
        margin-left: 10px
    &_link
        display: flex
        align-items: center
    &:hover
        opacity: 0.9

.product_info
    margin-top: 15px
    font-family: $f-regular
    h5 
        margin-bottom: 2px

.btn_AddToCart
    width: 100%
    border: 0
    background-color: $main-color
    border-radius: 10px
    color: #fff
    font-family: $f-thin
    padding: 2px 0 5px 0
    font-size: 1.2em
    cursor: pointer
    margin: 10px 0
    transition: 0.5s opacity ease
    &:hover
        opacity: 0.9

.btn_toStore
    width: 100%
    border: 0
    background-color: $foot-color
    border-radius: 10px
    color: #fff
    font-family: $f-thin
    padding: 2px 0 5px 0
    font-size: 1.2em
    color: #fff
    display: block
    text-align: center
    transition: 0.5s all ease
    &:hover
        color: #fff
        opacity: 0.9

.search 
    margin-top: 15px
    border: 1px solid $foot-color
    border-radius: 10px
    display: flex
    align-items: center
    padding: 3px 10px 5px 10px

.search form
    width: 100%

.searchInput 
    width: 205px
    background-color: $bgc-color
    border: 0
    outline: none
    font-family: $f-thin
    color: #000

.searchButton
    float: right
    cursor: pointer
    background-color: $bgc-color
    border: 0
    outline: none
    padding: 0
    width: 25px
    height: 25px
    img 
        width: 100%
        height: auto

.categories
    margin-top: 15px
    border: 1px solid #a7a7a7
    border-radius: 10px
    padding: 10px 20px 30px 15px
    font-family: $f-thin
    &-list
        display: flex
        flex-direction: column
        margin-left: 17px
        &-item 
            padding: 8px 0 0 2px
            font-size: 1.2em
            border-bottom: 1px solid #a7a7a7
            transition: 0.3s padding-left ease
            &:hover
                padding-left: 10px
                

.active
    padding-left: 10px