@media (max-width: 1200px) {
  .inLine-list {
    height: 292px;
  }
  .caption h4 {
    font-size: 1.1em;
  }
  .buyBtn {
    font-size: 1.2em;
  }
  .prise {
    border-radius: 5px;
  }
  .fields h2 {
    font-size: 1.6em;
  }
  .fields p {
    font-size: 1.1em;
    margin-bottom: 3px;
  }
}

@media (max-width: 992px) {
  .inLine-list {
    height: 255px;
  }
  .caption h4 {
    font-size: 1em;
  }
  .caption span h4 {
    font-size: 1em;
  }
  .buyBtn {
    font-size: 1.1em;
  }
  .prise {
    width: 70px;
    border-radius: 6px;
    margin: 3px auto;
  }
  .fields h2 {
    font-size: 1.28em;
  }
  .fields p {
    font-size: 0.8em;
    margin-bottom: 1px;
  }
}

@media (max-width: 767px) {
  .inLine-list {
    height: 250px;
  }
  .caption h4 {
    font-size: 0.9em;
  }
  .caption span h4 {
    font-size: 0.9em;
  }
  .buyBtn {
    font-size: 1.1em;
  }
  .prise {
    width: 65px;
    border-radius: 6px;
    margin: 3px auto;
  }
  .fields {
    margin-top: 20px;
  }
  .fields h2 {
    font-size: 1.8em;
    text-align: center;
    padding-bottom: 20px;
  }
  .fields p {
    font-size: 1.3em;
    margin-bottom: 5px;
    margin-left: 30px;
  }
}

@media (max-width: 575px) {
  .inLine-list {
    height: auto;
    padding-bottom: 15px;
    width: 80%;
    margin: 0 auto;
  }
  .caption h4 {
    font-size: 1.5em;
    margin-top: 15px;
  }
  .caption span h4 {
    font-size: 1.5em;
  }
  .buyBtn {
    font-size: 1.5em;
    margin-top: 0;
  }
  .prise {
    width: 90px;
    border-radius: 6px;
    margin: 5px auto;
  }
  .inLine-list .thumbnail img {
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  .inLine-list {
    height: auto;
    padding-bottom: 15px;
  }
  .caption h4 {
    font-size: 1.3em;
    margin-top: 15px;
  }
  .caption span h4 {
    font-size: 1.3em;
  }
  .buyBtn {
    font-size: 1.3em;
  }
  .prise {
    width: 85px;
  }
  .fields h2 {
    font-size: 1.4em;
    padding-bottom: 5px;
  }
  .fields p {
    font-size: 0.98em;
    margin-bottom: 2px;
  }
}

@media (max-width: 320px) {
  .inLine-list {
    height: auto;
  }
  .fields h2 {
    margin-bottom: 0;
  }
  .fields p {
    font-size: 0.97em;
    margin-bottom: 2px;
  }
}
